
  @import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;1,400;1,700&display=swap');
  

body {
  padding:20px;
  background:#E0BAD7; color: white; text-align:center; font-family: 'Courier Prime', monospace;
}
.profile-img {
  width:50%; border-radius:50%;
}


.btn {
  
  display: block;
  color: violet; 
  padding: 18px;
  background: white;
  margin: 12px;
  box-shadow: 5px 10px deeppink;

  
}
h1 {
  font-size: xx-large;color:purple;}
  p {
    font-size: medium;
  }
  a {text-decoration: none; color: whitesmoke}
  